.card {
  max-width: 1200px;
  margin-inline: auto;
}

:host ::ng-deep {
  .select ol, ul {
    padding-left: 0 !important;
  }

  .p-datatable-header {
    border: 1px solid #ccc;
    border-bottom: none;
  }

  .p-datatable-tbody {
    tr:hover {
      background: #e5e3e3;
      cursor: pointer;
    }
  }
}

//.my-table {
//  border: 1px solid #ccc;
//}


.red {
  color: #FF2C2C !important;
}

.green {
  color: #008000 !important;
}

.orange {
  color: #FF5B00 !important
}

.purple {
  color: #9D00FF !important;
}
